.empty-box {
  height: 4000px;
}

.target {
  height: 320px;
  width: 120px;
}

#first-target {
  position: relative;
  left: 100px;
}

#second-target {
  position: relative;
  left: 300px;
}

#third-target {
  position: relative;
  left: 100px;
}

#fourth-target {
  position: relative;
  left: 500px;
}

#first-target.fixed {
  position: fixed;
  /*bottom: js側で動的に定義*/
  left: 100px;
}

.target:not(#first-target).fixed {
  position: fixed;
}
